/*Have  flex columns - 
when it hover chagnes page BG
Click and brings it tooa full page or reel
Pages: Animation, Wald, Mikey Bobby, Motion, 
















-*/

html,
body {
  margin: 0;
  height: 100%;
}

* {
  box-sizing: border-box;
  background-color: var(--color-bg);
}

html {
  --color-primary: rgb(235, 223, 235);
  --color-secondary: hsl(287, 43%, 39%);
  --color-tertiary: hsl(273, 35%, 50%);
  --color-bg: rgb(25, 25, 26);
}

/*old
/*Header*/
header {
  color: var(--color-tertiary);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 200%;
  width: 100%;
}

h2 {
  flex-grow: 1;
  color: var(--color-secondary);
  padding-top: 50px;
  padding-bottom: 5px;
}

iframe {
  padding-top: 0px;
  flex-grow: 3;
  flex-basis: 20%;
  width: 80%;
}

#animationReelTitle {
}

#animationReelVid {
}

/* About section */
.About_Section {
  display: flex;
  padding: 50px;
  padding-top: 10%;
  gap: 50px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.About_Img {
  object-fit: cover;
  max-height: 500px;
  max-width: 75%;
}

p {
  color: var(--color-primary);
  max-width: 50ch;
}

footer {
  color: var(--color-tertiary);
  height: 150px;
  width: 100%;
  margin-top: 150px;
}
